<h5 class="mb-3">Création d’une conditionnement</h5>

<form [formGroup]="form" (ngSubmit)="sauvegarder()">
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="designation">
            Designation*
        </label>
        <c-col [sm]="8">
            <input cFormControl id="designation" type="text" [class]="getClass('designation')"
            formControlName="designation" placeholder="Carton / Balle / Sac " />
            <c-form-feedback >
                Le designation est obligatoire
            </c-form-feedback>
        </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="abreviation">
            Abbreviation*
        </label>
        <c-col [sm]="8">
            <input cFormControl id="abreviation" type="text" [class]="getClass('abreviation')"
            formControlName="abreviation" placeholder="Ctn / Bll / Sac " />
            <c-form-feedback >
                L'abbreviation est obligatoire
            </c-form-feedback>
        </c-col>
    </c-row>
    <c-row class="mb-3">
        <c-col [sm]="12">
            <div class="w-100 d-flex justify-content-end">
                <input
                    cButton
                    type="submit"
                    class="px-4 btn btn-primary"
                    value="Enregistrer"
                    />
            </div>
        </c-col>
    </c-row>
</form>
