<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h5>Commande fournisseur</h5>
        
        <c-card>
            <c-card-body>
                <form [formGroup]="form" (ngSubmit)="sauvegarder()">
                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="idFournisseur">
                            Fournisseur*
                        </label>
                        <c-col [sm]="8">
                            <generique-autocomplet 
                                formControlName="idFournisseur"
                                [items]="fournisseur"
                                [valueColumn]="'idFournisseur'"
                                [labelColumn]="'nom'"
                                placeholder="Ex:nom fournisseur"
                                [class]="getClass('idFournisseur')"
                                >
                            </generique-autocomplet>
                            <c-form-feedback >
                                Le fournisseur est obligatoire
                            </c-form-feedback>
                        </c-col>
                    </c-row>
                    
                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="dateSaisie">
                            Date saisie*
                        </label>
                        <c-col [sm]="8">
                            <input cFormControl id="dateSaisie" type="date"
                            formControlName="dateSaisie" placeholder="" />
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="dateSaisie">
                            Date échéance
                        </label>
                        <c-col [sm]="8">
                            <input cFormControl id="dateEcheance" type="date"
                            formControlName="dateEcheance" placeholder="" />
                        </c-col>
                    </c-row>
                    
                    <c-row class="mb-3">
                        <c-col [sm]="12">
                            <div class="w-100 d-flex justify-content-end">
                                <input
                                    cButton
                                    type="submit"
                                    class="px-4 btn btn-primary"
                                    value="Suivant"
                                    />
                            </div>
                        </c-col>
                    </c-row>
                    
                </form>
            </c-card-body>
        </c-card>
    </div>
</div>