<h5 class="mb-3">Nouvelle prix fournisseur</h5>

<form [formGroup]="form" (ngSubmit)="sauvegarder()">
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Ref
        </label>
        <c-col [sm]="8"> {{produit?.idProduit}} </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Designation
        </label>
        <c-col [sm]="8"> {{produit?.designation}} </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Categorie
        </label>
        <c-col [sm]="8"> {{produit?.categorie}} </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Marque
        </label>
        <c-col [sm]="8"> {{produit?.marque}} </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Fournisseur*
        </label>
        <c-col [sm]="8">

            <generique-autocomplet 
                formControlName="idFournisseur"
                [items]="fournisseur"
                [valueColumn]="'idFournisseur'"
                [labelColumn]="'nom'"
                [class]="getClass('idFournisseur')"
            >
            </generique-autocomplet>
            <c-form-feedback >
                Il est obligatoire de choisir un fournisseur
            </c-form-feedback>
        </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Conditionnement*
        </label>
        <c-col [sm]="8">

            <select aria-label="Default select example" cSelect
                id="idConditionnementProduit" formControlName="idConditionnementProduit">
                @for(item of conditionnement; track item; let i = $index){
                    <option [value]="item.idConditionnementProduit">{{item.conditionnement}}- {{item.abreviation}}</option>
                }
            </select>
            <c-form-feedback >
                Il est obligatoire de choisir un fournisseur
            </c-form-feedback>
        </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel="col" class="col-sm-4" for="nom">
            Montant*
        </label>
        <c-col [sm]="8">
            <input cFormControl id="montant" type="number" [class]="getClass('montant')"
            formControlName="montant" />
            <c-form-feedback >
                Le montant est obligatoire
            </c-form-feedback>
        </c-col>
    </c-row>
    <c-row class="mb-3">
        <c-col [sm]="12">
            <div class="w-100 d-flex justify-content-end">
                <input
                    cButton
                    type="submit"
                    class="px-4 btn btn-primary"
                    value="Enregistrer"
                    />
            </div>
        </c-col>
    </c-row>
</form>
