<div style="max-height: 400px; overflow-y: auto; overflow-x: auto;">
    <div class="d-flex">
        <div class="flex-grow-1 me-1 ">
            <generique-autocomplet 
                [items]="varianteData"
                [(ngModel)]="varianteSelected"
                [labelColumn]="'nom'"
                placeholder="Recherche variante ...">
                
            </generique-autocomplet>
        </div>
        <div>
            <div class="d-flex">
                <button class="mb-3" (click) ="affecter()" cButton color="light" >Affecter la variante</button>
                <button class="mb-3 ms-1"  cButton color="light" (click)="toggleLiveDemo()">
                    <svg cIcon name="cilPlaylistAdd"></svg>
                </button>
            </div>
           
            <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
            
                <c-modal-body>
                    <div class="d-flex justify-content-end">
                        <button (click)="toggleLiveDemo()" cButtonClose></button>
                    </div>
                    <div>
                        <app-variante-edit
                            (emitData)="addVariante($event)"
                        ></app-variante-edit>
                    </div>
                    
                </c-modal-body>
            </c-modal>
        </div>
    </div>

    <table bordered cTable>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Designation</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for(item of variante; track item; let i = $index){
                <tr>
                <th scope="row">{{i+1}}</th>
                <td>
                    {{ item.variante }}
                </td>
                <td style="width: 48px">
                        <button cButton color="light" size="sm" (click)="retirer(item.idVariante)">
                        <svg cIcon name="cilTrash" size="sm"></svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    