<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h5>Création d’un reservation</h5>
        
        <c-card>
            <c-card-body>
                <form [formGroup]="form" (ngSubmit)="sauvegarder()">
                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="nom">
                            client*
                        </label>
                        <c-col [sm]="8">
                            <generique-autocomplet 
                                formControlName="idClient"
                                [items]="client"
                                [valueColumn]="'idClient'"
                                [labelColumn]="'nom'"
                                placeholder="Ex:nom client"
                                [class]="getClass('idClient')"
                                >
                            </generique-autocomplet>
                            <c-form-feedback >
                                Le client est obligatoire
                            </c-form-feedback>
                        </c-col>
                    </c-row>

                    
                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="dateDebut">
                            Date debut*
                        </label>
                        <c-col [sm]="8">
                            <input cFormControl id="dateDebut" type="text" [class]="getClass('dateDebut')"
                            formControlName="dateDebut" type="date" />
                            <c-form-feedback >
                                La date debut est obligatoire
                            </c-form-feedback>
                        </c-col>
                    </c-row>

                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="dateFin">
                            Date fin*
                        </label>
                        <c-col [sm]="8">
                            <input cFormControl id="dateFin" type="text" [class]="getClass('dateFin')"
                            formControlName="dateFin" type="date" />
                            <c-form-feedback >
                                La date fin est obligatoire
                            </c-form-feedback>
                        </c-col>
                    </c-row>
                    
                    <c-row class="mb-3">
                        <label cLabel="col" class="col-sm-4" for="mail">
                            Description*
                        </label>
                        <c-col [sm]="8">
                            <textarea cFormControl formControlName="description"
                            id="exampleFormControlTextarea1" rows="3" [class]="getClass('mail')"></textarea>

                            <c-form-feedback >
                                Le mail est obligatoire
                            </c-form-feedback>
                        </c-col>
                    </c-row>
    
                    <c-row class="mb-3">
                        <c-col [sm]="12">
                            <div class="w-100 d-flex justify-content-end">
                                <input
                                    cButton
                                    type="submit"
                                    class="px-4 btn btn-primary"
                                    value="Enregistrer"
                                    />
                            </div>
                        </c-col>
                    </c-row>
                    
                </form>
            </c-card-body>
        </c-card>
    </div>
</div>

